body{
    margin: 0;
    padding: 0;
    font-family: 'monteserrat';
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4vw;
}

h1 span{
    font-weight: 400;
}

p{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 2vw;
line-height: 2;
}

.hero{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    background-color: #5FC7CC;
    width: 100vw;
    height: 100vh;
    color: white;
}

.hero-content{
    max-width: 30vw;
    margin-right: 10vw;
}

.hero-image{
    max-width: 40vw;
}

 img{
    width: 40vw;
    height: auto;
}

.btn-primary{
    background-color: #FFC40C;
    padding: 2vh 3vw;
    width: 100%;
    font-size: 1.5vw;
    font-weight: 700;
    color: #000;

    border: 0;
    border-radius: 5;
    box-shadow: none;
}


@media only screen and (max-width: 1024px){
    h1{
        font-size: 8vw;
    }
    
    p{
    font-size: 5vw;
    }

    .hero{
        flex-direction: column-reverse;
    
        width: 100vw;
        min-height: 100vh;
        height: auto;
    padding: 20px 0;

    }
    
    .hero-content{
        max-width: 80vw;
        margin: 0 auto;
        text-align: center;
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .hero-image{
        max-width: 30vw;
    }
    
    .btn-primary{
        width: 80%;
        font-size: 4vw;
    }
}

@media only screen and (max-width: 700px){
    h1{
        font-size: 10vw;
    }
    
    p{
    font-size: 7vw;
    line-height: 1.5;
}

    .hero{
        flex-direction: column-reverse;
    
        width: 100vw;
        min-height: 100vh;
        height: auto;
    }

    .hero-content{
        max-width: 100vw;
        padding: 20px 0;
    }
    
    .btn-primary{
        width: 80%;
        font-size: 5vw;
    }
}